@use '@/styles/functions' as func;
@use '@/styles/colors' as c;
@use '@/styles/fonts' as f;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: white;

  &.news {
    min-height: auto;
    padding-top: func.toRespPx(42px);
    background: #f0f9fe;
  }

  .index {
    &AboutUs {
      &Catch {
        margin-bottom: func.toRespPx(32px);
        color: #333;
        @include f.tsukushiARoundGothicB(42px);
        line-height: 1.3em;
        background: linear-gradient(transparent 70%, c.$mainThinColor 60%);
      }

      &Description {
        margin-bottom: func.toRespPx(78px);
        color: #333;
        @include f.defaultW4(26px);
      }
    }
  }
}
