@use '@/styles/functions' as func;
@use '@/styles/mixins';
@use '@/styles/colors' as c;
@use '@/styles/fonts' as f;
@use '@/styles/variables' as v;

.calendar {
  margin-top: func.toRespPx(40px);
  > iframe {
    @include mixins.toRespSize(640px, 720px);
  }
}

@media (min-width: 769px) {
  .calendar {
    width: 100%;
    max-width: 1024px;
    > iframe {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .calendar {
    > iframe {
      @include mixins.toRespSize(640px, 1000px);
    }
  }
}

@media (max-width: 450px) {
  .calendar {
    > iframe {
      @include mixins.toRespSize(680px, 1000px);
    }
  }
}
