@use '@/styles/functions' as func;
@use '@/styles/mixins';
@use '@/styles/colors' as c;
@use '@/styles/fonts' as f;
@use '@/styles/variables' as v;

.mainVisual {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  background-image: url('/images/mv-01.jpg');
  background-size: cover;
  background-position: center;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);

  &ImgCover {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: inherit;
    min-height: inherit;
    background-color: rgba($color: #00499F, $alpha: 0.32);
  }

  &Contents {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &Catch {
    position: relative;
    margin-bottom: func.toRespPx(64px);
    @include f.tsukushiARoundGothicB(46px);
    color: #444;
    line-height: 1;
    height: func.toRespPx(216px);
    text-align: center;

    > span {
      display: inline-block;
      position: relative;
      z-index: 5;
      background: linear-gradient(transparent 70%, rgba(c.$accentColor, 0.8) 60%);
      margin-bottom: func.toRespPx(18px);

      &:first-of-type {
        margin-top: func.toRespPx(18px);
      }
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -44%);
      z-index: 4;
      @include mixins.toRespSize(574px, 300px);
      content: '';
      background-image: url('/images/speech-bubble.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.7;
      filter: drop-shadow(
        0px
        0px
        func.toRespPx(24px)
        rgba($color: #000, $alpha: 0.25)
      );
    }
  }

  &Logo {
    margin: 0 auto;
    width: func.toRespPx(300px);
    filter: drop-shadow(
      0px
      0px
      func.toRespPx(6px)
      rgba($color: #fff, $alpha: 0.3)
    );

    > img {
      vertical-align: top;
    }
  }
}

@media (min-width: 769px) {
  .mainVisual {
    &Contents {
      transform: translate(-50%, -43%);
    }
  }
}

@media (max-width: 768px) {
  .mainVisual {
    &Catch {
      margin-bottom: func.toRespPx(72px);
    }
  }
}
