@use '@/styles/functions' as func;
@use '@/styles/mixins';
@use '@/styles/colors' as c;
@use '@/styles/fonts' as f;
@use '@/styles/variables' as v;

.pageSection {
  width: 100%;

  &Contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: func.toRespPx(86px) func.toRespPx(64px);
    width: 100%;
    max-width: 1024px;
  }

  &.white {
    background: #F5F6F8;
  }

  &.aliceblue {
    background: #f0f9fe;
    // background: linear-gradient(-232.61deg, #fff 14.73%, rgba(240,249,254,1) 85.28%);
  }
}